PORT=3000
SHARED_TOKEN=change-me
PING_HEARTBEAT_INTERVAL_MS=500
TIMEOUT_TO_OFFLINE_INTERVAL_MS=300000
OFFLINE_DEVICE_DELETE_INTERVAL_MS=900000
SOCKETIO_PING_INTERVAL_MS=25000
SOCKETIO_PING_TIMEOUT_MS=300000
AGENT_STATUS_REPORT_INTERVAL_MS=5000
KILL_COMMAND_TIMEOUT_MS=10000
SHUTDOWN_ACK_TIMEOUT_MS=500
